@import "./resets";
@import "./variables";

@function weight($weight-name) {
  @return map-get($font-weight, $weight-name);
}

body {
  background-color: $primary-color;
  color: $text-color;
}

.main {
  width: 80%;
  margin: 0 auto;
  padding: 20px;

  &__paragraph {
    font-weight: weight(regular);

    &:hover {
      color: $secondary-color;
    }
  }
}
